vendor
node_modules
build
dist
framework
client
Service
assets
tests
docs
package-lock.json
composer.lock
composer.json
package.json
*.min.js
*.min.css
.github
.wp-env.json
*.yml
*.yaml
*.md
*.php
*.xml
*.xml.dist
*.neon
*.neon.dist
