includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - framework
        - client
        - Service
        - src/Admin/app
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: require.fileNotFound
            path: src/Admin/AdminModule.php
