html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

#wpcontent, #wpfooter {
    background-color: #ffffff;
}

#wpbody-content {
    padding-bottom: 10%;
}

.notice {
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.left-column, .right-column {
    width: 100%;
}

.right-column {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: #fff;
    padding: 10%;
    border-radius: 10px;
    text-transform: none;
    border: 0px solid #c3c4c7;
    font-size: 14px;
    line-height: 2;
    box-shadow: 0 0.375rem 1.5rem 0 rgba(141, 153, 165, 0.13);
}

.card h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: 400;
}

.card a, .left-column a {
    text-decoration: none;
}

.card-body, .card-footer {
    margin: 10px 0;
}

.card-footer a.button.button-primary {
    padding: 1% 5%;
    margin-top: 10px;
}

.form-table th {
    width: 120px;
    padding: 5% 0;
}

.form-table td {
    padding: 5% 0;
}

.settings-header {
    padding-top: 20px;
    max-width: 1280px;
    margin: 0 auto;
    line-height: 1.5;
}

.settings-header .update-messages h2, .update-php h2, h4 {
    font-size: 15px;
    font-weight: 400;
}

.settings-title-section {
    padding: 1% 0;
}

.settings-footer p {
    font-size: 12px;
    line-height: 2;
}

.sponsor-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sponsor-logos img {
    width: 26%;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

@media screen and (max-width: 782px) {
    .auto-fold #wpcontent {
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .container {
        flex-wrap: nowrap;
        max-width: 1280px;
        margin: 0 auto;
    }

    .left-column {
        width: 70%;
    }

    .right-column {
        width: 30%;
    }
}
