#wpcontent {
    padding-left: 0px;
}
#wpbody-content {
    padding-bottom: 0px;
}
#wpfooter {
    display: none;
}


@media only screen and (max-width: 1200px) {
    .wp_china_yes-nav-normal {
        width: 200px;
    }
    .wp_china_yes-nav-normal+.wp_china_yes-content {
        margin-left: 200px;
    }
    .wp_china_yes-nav-background {
        width: 200px;
    }
}

@media only screen and (max-width: 960px) {
    .wp_china_yes-field .wp_china_yes-title {
        width: 30%;
    }
    .wp_china_yes-field .wp_china_yes-fieldset {
        width: calc(70% - 20px);
    }
    .wpcy-about__grid.columns-3 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 782px) {
    .wp_china_yes-nav-normal+.wp_china_yes-content {
        margin-left: 0!important;
    }
    .wp_china_yes-nav-normal {
        position: fixed;
        top: 32px;
        left: -250px;
        height: 100vh;
        z-index: 9999;
        transition: left 0.3s ease;
        background: #fff;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    }
    .wp_china_yes-nav-normal.mobile-open {
        left: 0;
    }
    .wp_china_yes-header-inner {
        position: relative;
        padding: 15px 20px;
    }
    .wp_china_yes-header-inner h1 {
        margin-bottom: 10px;
        font-size: 1.3em;
    }
    .auto-fold #wpcontent {
        padding-left: 0px;
    }
    .wp_china_yes-field-text input,
    .wp_china_yes-field-textarea textarea,
    .wp_china_yes-field-select select {
        width: 100%;
        max-width: 100%;
    }
    .wp_china_yes-field .wp_china_yes-title {
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }
    .wp_china_yes-field .wp_china_yes-fieldset {
        width: 100%;
        float: none;
    }
    .wp_china_yes-field {
        padding: 20px;
    }
    .wp_china_yes-section {
        margin: 20px auto;
    }
}

.wp-core-ui .button, .wp-core-ui .button-primary, .wp-core-ui .button-secondary {
    border-radius: 1px;
}

.sponsor-logos {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    margin: 24px 0;
    grid-gap: 24px;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    align-items: center;
}

.sponsor-logos img {
    flex-basis: calc(20% - 10px);
    max-width: 80px;
    margin: 13px;
    height: auto;
}

.contributors-name {
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 0;
    color: #dcdcde;
    display: block;
    flex-wrap: wrap;
    display: flex;
    grid-gap: 22px;
}

.wp_china_yes-content {
    position: relative;
    background-color: #f1f1f1;
}

.wp_china_yes-content a {
    color: #3858e9;
    text-decoration: none;
}

.wp_china_yes-content a:active, a:focus, a:hover {
    color: #2c3338;
}

.wp_china_yes-options {
    background-color: #ffffff;
    border-radius: 10px;
    text-transform: none;
    line-height: 2;
}

.wp_china_yes-options {
    margin-top: 0px;
    margin-right: 0px;
}

.wp_china_yes-field {
    padding: 8%;
    background-color: #ffffff;
    margin: 5% 0;
    border-radius: 1px;
    box-shadow: 0 0 0 1px #ccd0d4, 0 1px 1px 1px rgba(0, 0, 0, .04);
}

.wp_china_yes-field.wp_china_yes-field-content {
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
    border-radius: 0;
    box-shadow: unset;
}
.wp_china_yes-field-checkbox .wp_china_yes--inline-list li, .wp_china_yes-field-radio .wp_china_yes--inline-list li {
    margin-right: 20px;
}

.wp_china_yes-copyright p {
    font-size: 12px;
    color: #999;
}
.wp_china_yes-copyright {
    float: left;
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    zoom: 90%;
    
}

.wp_china_yes-section {
    margin: 50px auto;
    max-width: 1000px;
    background-color: #f1f1f1;
}

.wp_china_yes-field {
    position: relative;
    border: 0px solid #ccd0d4;
}

.wp_china_yes-field+.wp_china_yes-field {
    border-top: 0px solid #eee;
}
.wp_china_yes-field-fieldset .wp_china_yes-fieldset-content {
    border: 0px solid #ccd0d4;
}

.wp_china_yes-section-title {
    padding: 20px 30px;
    background-color: #fff;
    border-top: 0 solid #f5f5f5;
    border-bottom: 0px solid #eee;
    box-shadow: 0 0 0 1px #ccd0d4, 0 1px 1px 1px rgba(0, 0, 0, .04);
}

.wp_china_yes-section-title h3 {
    font-size: 14px;
    font-weight: 400;
}

.wp_china_yes-section-title .wp_china_yes-section-icon {
    margin-right: 10px;
    width: 20px;
    height: 24px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.wp_china_yes-field-subheading {
    background-color: #ffffff;
}

.wp_china_yes-theme-light .wp_china_yes-container {
    border: 0 solid #ccd0d4;
}

.wp_china_yes-theme-light .wp_china_yes-header-inner {
    border-bottom: 1px solid #f5f5f5;
    background: #ffffff;
}


.wp_china_yes-theme-light .wp_china_yes-nav-background {
    background-color: #ffffff;
    border-right: 1px solid #dddddd;
    flex-direction: column;
    min-height: 100vh;
}

.wp_china_yes-theme-light .wp_china_yes-footer {
    border-top: 1px solid #fff;
    background: #ffffff;
    display: none;
}

.wp_china_yes-field-heading {
    font-size: 1.4em;
    background-color: #ffffff;
}

.wp_china_yes-nav-normal {
    width: 205px;
    padding-left: 20px;
}

.wp_china_yes-nav {
    padding: 20px;
}
.wp_china_yes-nav-background {
    width: 250px;
}
.wp_china_yes-nav ul li a {
    font-size: 13px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    transition-property: color, background;
    transition-duration: .2s;
    transition-timing-function: ease;
}

.wp_china_yes-nav .wp_china_yes-tab-icon {
    margin-right: 10px;
    width: 20px;
    height: 24px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.wp_china_yes-theme-light .wp_china_yes-nav ul li a {
    background-color: #ffffff;
}
.wp_china_yes-theme-light .wp_china_yes-nav ul li a:hover {
    color: #3858e9;
    background-color: #f1f1f1;
}

.wp_china_yes-submessage-normal {
    border-color: #ffffff;
    background-color: #ffffff;
}


.wp_china_yes-nav-normal+.wp_china_yes-content {
    margin-left: 248px;
}

.wp_china_yes-search-all .wp_china_yes-content, .wp_china_yes-show-all .wp_china_yes-content {
    margin-left: 0;
}

.wp_china_yes-theme-light .wp_china_yes-nav-normal > ul li a {
    border-bottom: 0px solid #f5f5f5;
    border-right: 0px solid #f5f5f5;
}
.wp_china_yes-theme-light .wp_china_yes-nav ul li .wp_china_yes-active {
    color: #111;
    background-color: #f5f5f7;
    background: #f5f5f7;
}
.wp_china_yes-field-group .wp_china_yes-cloneable-header-icon {
    font-size: 10px;
}

.wp_china_yes-field-group .wp_china_yes-cloneable-title {
    padding: 10px 65px 10px 10px;
}

.wp_china_yes-field-group .ui-accordion .wp_china_yes-cloneable-item {
    padding: 2px 0;
    border-radius: 10px;
}

.wp_china_yes-field-group .wp_china_yes-cloneable-helper {
    top: 15px;
}

.wp_china_yes-field-group .wp_china_yes-cloneable-title {
    border: 1px solid #ccd0d4;
    background-color: #ffffff;
    border-radius: 1px;
}

.wp_china_yes-field-group .wp_china_yes-cloneable-content {
    padding: 0;
    border-top: 1px solid #ffffff;
}

.wp_china_yes-field-group .wp_china_yes-cloneable-content>.wp_china_yes-field {
    padding: 15px;
    margin: 20px;
}

.wp_china_yes-sticky .wp_china_yes-header-inner {
    border-bottom: 1px solid #dddddd;
    background: #ffffff;
}
.wp_china_yes-sticky .wp_china_yes-header-inner {
    position: fixed;
    box-shadow: unset;
}

.wp_china_yes-warning-primary {
    color: #5e77ec !important;
    border-color: #5e77ec !important;
    background: #ffffff !important;
}

.wp_china_yes-warning-primary:focus, .wp_china_yes-warning-primary:hover {
    border-color: #3858e9 !important;
    background: #ffffff !important;
}

.wp_china_yes-field-switcher .wp_china_yes--switcher:not(.wp_china_yes--active) {
    background-color: #9a9a9a;
}

.wp_china_yes-theme-light .wp_china_yes-nav-normal > ul {
    margin-right: -2px;
    margin-bottom: -1px;
}


@media screen and (max-width: 600px) {
    .wpcy-about__grid {
        grid-template-columns: 1fr!important;
    }
    .wp_china_yes-buttons {
        flex-direction: column;
        align-items: stretch;
    }
    .wp_china_yes-buttons .button {
        margin: 2px 0;
        text-align: center;
    }
    .sponsor-logos {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .sponsor-logos img {
        max-width: 60px;
        margin: 8px;
    }
    .wpcy-buttons {
        flex-direction: column;
        gap: 8px;
    }
    .components-button {
        justify-content: center;
        padding: 8px 12px;
        min-height: 40px;
    }
}

@media screen and (max-width: 480px) {
    .wp_china_yes-header-inner {
        padding: 10px 15px;
    }
    .wp_china_yes-header-inner h1 {
        font-size: 1.2em;
        line-height: 1.3;
    }
    .wp_china_yes-field {
        padding: 15px;
        margin: 10px 0;
    }
    .wp_china_yes-section {
        margin: 10px auto;
        max-width: 100%;
    }
    .wp_china_yes-section-title {
        padding: 15px 20px;
    }
    .sponsor-logos {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .wpcy-about__grid .column {
        padding: 6%;
    }
    .column.wpcy-kit-banner {
        padding: 4% 4% 2%!important;
    }
}


span.wpcy-icon-inner {
    line-height: 1px;
    font-size: 28px;
    color: #000000;
}

span.wpcy-icon-inner-list {
    line-height: 0px;
    font-size: 24px;
    color: #000000;
}

.wpcy-about__grid {
    margin: 24px auto;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.wpcy-kit__grid {
    margin: 24px auto;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.column.wpcy-kit-banner {
    padding: 6% 6% 3%!important;
}

.wpcy-about__grid .column {
    padding: 10%;
    background-color: #ffffff;
    border-radius: 1px;
    box-shadow: 0 0 0 1px #ccd0d4, 0 1px 1px 1px rgba(0, 0, 0, .04);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.wpcy-about__grid.columns-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.wpcy-about__grid.columns-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.wpcy-about__grid .column > svg {
    width: 30px;
    height: 30px;
    margin-left: -3px;
}

.wpcy-buttons {
    margin-top: 4px;
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.wpcy-banner img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-top: auto;
    vertical-align: middle;
}
.components-button.has-icon {
    justify-content: center;
    min-width: 36px;
    padding: 6px;
}
.components-button.has-icon.has-text {
    gap: 4px;
    justify-content: start;
    padding-left: 8px;
    padding-right: 12px;
}

.wpcy-about__list li a:not(:hover) {
    text-decoration: none;
}
.components-button {
    align-items: center;
    -webkit-appearance: none;
    background: none;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    color: var(--wp-components-color-foreground, #1e1e1e);
    cursor: pointer;
    display: inline-flex
;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    height: 36px;
    margin: 0;
    padding: 6px 12px;
    text-decoration: none;
    transition: box-shadow .1s linear;
}
.components-button.button-link {
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
    height: auto;
    margin: 0;
    outline: none;
    padding: 0;
    text-align: left;
    text-decoration: underline;
    transition-duration: .05s;
    transition-property: border, background, color;
    transition-timing-function: ease-in-out;
}
.components-button.button-primary {
    display: inline-flex;
    padding: 6px 12px;
}

.components-button.button-secondary {
    background: #0000;
    display: inline-flex;
    padding: 6px 12px;
}

/* 移动端菜单按钮样式 */
.wp_china_yes-mobile-menu-btn {
    color: #333;
    padding: 5px;
    border-radius: 3px;
}

.wp_china_yes-mobile-menu-btn:hover {
    background-color: rgba(0,0,0,0.1);
}

/* 表单元素响应式优化 */
@media screen and (max-width: 782px) {
    .wp_china_yes-field-checkbox .wp_china_yes--inline-list li,
    .wp_china_yes-field-radio .wp_china_yes--inline-list li {
        display: block;
        margin-right: 0;
        margin-bottom: 8px;
    }
    
    .wp_china_yes-field-button_set .wp_china_yes--buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    
    .wp_china_yes-field-button_set .wp_china_yes--button {
        flex: 1;
        min-width: 80px;
        text-align: center;
        border-radius: 4px !important;
        margin-left: 0 !important;
    }
    
    .wp_china_yes-field-color > input {
        width: 100%;
        max-width: 200px;
    }
    
    .wp_china_yes-field-upload .button {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* 平板设备优化 */
@media screen and (min-width: 783px) and (max-width: 960px) {
    .wp_china_yes-field-checkbox .wp_china_yes--inline-list li,
    .wp_china_yes-field-radio .wp_china_yes--inline-list li {
        margin-right: 10px;
    }
}

