.sponsor-logos {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}

.sponsor-logos img {
    flex-basis: calc(20% - 10px);
    max-width: 85px;
    margin: 14px;
    height: auto;
}

.contributors-name {
    margin-top: 0;
    margin-bottom: 0;
    padding: 12px;
    color: #dcdcde;
}

.contributors-name a{
    line-height: 2;
    padding: 0.5em;
}
.wp_china_yes-content a {
    color: #3858e9;
    text-decoration: none;
}

.wp_china_yes-content a:active, a:focus, a:hover {
    color: #2c3338;
}

.wp_china_yes-options {
    background-color: #fff;
    padding: 1%;
    border-radius: 10px;
    text-transform: none;
    line-height: 2;
    box-shadow: 0 0.375rem 1.5rem 0 rgba(141, 153, 165, 0.13);
    max-width: 1100px;
    margin: 2rem auto;
}

.wp_china_yes-section-title {
    padding: 20px 30px;
    background-color: #fff;
    border-top: 0 solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

.wp_china_yes-field-subheading {
    background-color: #ffffff;
}

.wp_china_yes-theme-light .wp_china_yes-container {
    border: 0 solid #ccd0d4;
}

.wp_china_yes-theme-light .wp_china_yes-header-inner {
    border-bottom: 1px solid #f5f5f5;
    background: #ffffff;
}

.wp_china_yes-theme-light .wp_china_yes-nav-background {
    background-color: #ffffff;
    border-right: 1px solid #f5f5f5;
}

.wp_china_yes-theme-light .wp_china_yes-footer {
    border-top: 1px solid #fff;
    background: #ffffff;
}

.wp_china_yes-field-heading {
    font-size: 1.4em;
    background-color: #ffffff;
}

.wp_china_yes-theme-light .wp_china_yes-nav ul li a {
    background-color: #ffffff;
}

.wp_china_yes-submessage-normal {
    border-color: #ffffff;
    background-color: #ffffff;
}

.wp_china_yes-field + .wp_china_yes-field {
    border-top: 1px solid #ffffff;
}

.wp_china_yes-theme-light .wp_china_yes-nav-normal > ul li a {
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}

.wp_china_yes-field-group .wp_china_yes-cloneable-header-icon {
    font-size: 10px;
}

.wp_china_yes-field-group .wp_china_yes-cloneable-title {
    padding: 10px 65px 10px 10px;
}

.wp_china_yes-field-group .ui-accordion .wp_china_yes-cloneable-item {
    padding: 2px 0;
    border-radius: 10px;
}

.wp_china_yes-field-group .wp_china_yes-cloneable-helper {
    top: 15px;
}

.wp_china_yes-field-group .wp_china_yes-cloneable-title {
    border: 1px solid #ccd0d4;
    background-color: #ffffff;
    border-radius: 8px;
}

.wp_china_yes-field-group .wp_china_yes-cloneable-content {
    border: 0 solid #ffffff;
    background-color: #ffffff;
}

.wp_china_yes-sticky .wp_china_yes-header-inner {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.wp_china_yes-warning-primary {
    color: #fff !important;
    border-color: #2c3338 !important;
    background: #2c3338 !important;
}

.wp_china_yes-warning-primary:focus, .wp_china_yes-warning-primary:hover {
    border-color: #1d2327 !important;
    background: #1d2327 !important;
}

.wp_china_yes-field-switcher .wp_china_yes--switcher:not(.wp_china_yes--active) {
    background-color: #9a9a9a;
}

.wp_china_yes-theme-light .wp_china_yes-nav-normal > ul {
    margin-right: -2px;
    margin-bottom: -1px;
}
